a {
  color: red;
  background-color: red;
}


b {
  color: red;
  background-color: red;
}


i {
  color: red;
  background-color: red;
}


.extra-1 {
  border: none;
}


.extra-2 {
  border: none;
}
